<style>
div.warn {    
    background-color: #FDEDEC;
    border-color: #E74C3C;
    border-left: 5px solid #E74C3C;
    padding: 0.5em;
}

div.task {    
    background-color: #EBF5FB;
    border-color: #2E86C1;
    border-left: 5px solid #2E86C1;
    padding: 0.5em;
}

div.expert {    
    background-color: #F4ECF7;
    border-color: #6C3483;
    border-left: 5px solid #6C3483;
    padding: 0.5em;
}

div.solution {    
    background-color: #EAFAF1;
    border-color: #2ECC71;
    border-left: 5px solid #2ECC71;
    padding: 0.5em;
}

div.summary {    
    background-color: #FCF3CF;
    border-color: #F1C40F;
    border-left: 5px solid #F1C40F;
    padding: 0.5em;
}

hr.dashed {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.double {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
</style>